@import "./variables";

@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
  word-break: keep-all;
  font: {
    family: "Spoqa Han Sans", Montserrat, Source Sans Pro, -apple-system, Roboto, 'Helvetica Neue', sans-serif;
    weight: 300;
  }
  line-height: $--default-line-height;
  letter-spacing: -0.3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:not(footer > *) {
    color: #495057;
  }
}

body {
  font-size: $--default-text-size;
}

a {
  color: $--color-primary;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    color: $--color-primary;
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: $--default-line-height * .72;
  margin: 0;
}

h1 {
  font-size: $--default-text-size * 2.5;
}

h2 {
  font-size: $--default-text-size * 2;
}

h3 {
  font-size: $--default-text-size * 1.5;
}