@import '../../../node_modules/open-color/open-color.scss';

$--color-primary: $oc-blue-5 !default;
$--color-secondary: #868e96 !default;
$--color-success: #67c23a !default;
$--color-warning: #e6a23c !default;
$--color-danger: #f56c6c !default;
$--color-info: #909399 !default;

$--color-selection: #ffc700 !default;
$--color-underline: orange !default;
$--color-divider: #dee2e6 !default;

$--default-text-size: 16px;
$--default-line-height: 1.6;

$--font-weight-100: 100;
$--font-weight-300: 300;
$--font-weight-400: 400;
$--font-weight-500: 500;
$--font-weight-700: 700;
$--font-weight-900: 900;