@import "../../../node_modules/normalize.css/normalize.css";
@import "./fonts";
@import "./mixins";

// Common
* {
  position: relative;
  box-sizing: border-box;
}

::selection {
  background: $--color-selection;
}

.inline-block {
  display: inline-block;
}

ul {
  > li {
    margin: {
      bottom: .5em;
    }
  }
}

//// Text
header {
  display: block;
  & h1, h2, h3, h4, h5, h6 {
    display: inline-block;
  }
  margin: {
    bottom: .6em;
  }
}

.head > .subheader {
  opacity: .6;
}

.subheader {
  font: {
    size: 1.1em;
  }
  margin: {
    bottom: .6em;
  }
}

p {
  font: {
    size: 1.15em;
  }
  margin: 0;
  > small {
    font: {
      size: 70%;
    }
  }
  &.content {
    margin: {
      bottom: .6em;
    }
    &.wide {
      min-height: 5em;
    }
  }
}

.underline {
  @include text-underline;
}

[data-section-desc] {
  &::before {
    content: attr(data-section-desc);
    @include text-subtitle;
    left: 0;
  }
  &[data-desc-right] {
    &::before {
      width: 100%;
      bottom: 0;
      left: unset;
      right: -105%;
      font: {
        size: .5em;
      }
    }
  }
  &[data-desc-btm] {
    &::before {
      width: 100%;
      top: unset !important;
      bottom: -2em;
      font: {
        size: .5em;
      }
    }
  }
  &[data-desc-small] {
    &::before {
      font: {
        size: .75em;
      }
      opacity: .5;
    }
  }
  &[data-desc-opacity-6] {
    &::before {
      opacity: .6;
    }
  }
  &:not([data-desc-right]) {
    &::before {
      top: -1.2em;
      white-space: nowrap;
      overflow: hidden;
      text: {
          overflow: ellipsis;
      }
    }
  }
}

[data-item-subtitle] {
  &::after {
    content: attr(data-item-subtitle);
    top: -1.4em;
    @include text-subtitle;
  }
}

[data-item-subtitle-btm] {
  margin: {
    bottom: 1.4em;
  }
  &::after {
    content: attr(data-item-subtitle-btm);
    bottom: -1.4em;
    @include text-subtitle;
  }
}
//// ----

body {
  margin: 0;
  padding: 0;
  overflow: {
    x: hidden;
  }
}

hr {
  margin-bottom: 30px;
}

.divider {
  &.empty {
    @include area-divider-empty;
    &.wide {
      margin: {
        bottom: 3em;
      }
    }
  }
  &:not(.empty) {
    @include area-divider-line;
  }
}

a {
  position: relative;
  color: #3a7bd5;
  &.underline-effect {
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      bottom: -10px;
      left: 0;
      margin: 0 auto;
      background: #3a7bd5;
      visibility: hidden;
      transform: scaleX(0);
      transition: all .3s ease-in-out;
    }
    &:hover {
      &::after {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }
  &:hover {
    text: {
      decoration: none;
    }
  }
}

main {
  padding: {
    top: 60px;
  }
}

figure {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  margin: 0;
  overflow: hidden;
  border-radius: 20%;
  box-shadow: 3px 5px 5px rgba(122, 122, 122, .5);
  > img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
  &.mb {
    margin: {
      bottom: 1.4rem;
    }
  }
}

.content {
  &.wide {
    min-height: 4em;
    margin: {
      bottom: 2em;
    }
  }
}

.description {
  > p {
    padding-left: 1rem;
  }
}

.article {
  position: relative;
  &:not(#intro) {
    margin: {
      bottom: 2em;
    }
  }
  margin: {
    bottom: 6em;
  }
}

.container {
  padding: 0 2rem;
}

.item {
  margin: {
    bottom: 1.5em;
  }
}

//// Title
#intro {
  & h1.hello {
    @include font-weight-regular;
    margin: {
      bottom: 40px;
    }
    > .underline > strong {
      @include font-weight-bold;
    }
  }
  > #introduction {
    margin: {
      bottom: 20px;
    }
  }
}

// GNB
.gnb {
  background: #efefef;
  padding: 1em;
  > details {
    > a {
      display: inline-block;
      padding: 0 2em;
    }
  }
}

// Footer
footer {
  @include font-weight-bold;
  margin: {
    top: 2rem;
  }
  padding: 2rem 0;
  background: url(https://www.11stcorp.com/resources/img/bg_brand2.jpg) 50% 80%;
  & header {
    & strong {
      color: #fff;
    }
  }
}

// Grid
.grid {
  display: grid;
  height: fit-content;
}

.grid-100-auto {
  grid-template-columns: 100px repeat(auto-fit, minmax(100px, auto));
  column-gap: 2em;
  @include area-grid-head-content;
  > div:nth-of-type(1) {
    min-height: 5em;
  }
}

.grid-15r-auto {
  grid-template-columns: 15rem repeat(auto-fit, minmax(300px, auto));
  gap: 2em;
  @include area-grid-head-content;
}

// Etc
#skills > div:nth-child(3) > div > div > div.content > h4:not(:first-of-type) {
  margin: {
    top: 2em;
  }
}